Package: debugserver.azj
Name: debugserver.azj
Version: 0.0.1
Architecture: iphoneos-arm
Description: Debug any process with XCode https://github.com/lich4/debugserver_azj
Maintainer: chaoge
Author: chaoge
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
